body {
 	background-color: #F4F5F4;
 	font-family: 'Raleway', sans-serif;
 }

.header {
 	font-family: 'Amatic SC', cursive;
 	text-align: center;
 	padding-top: 70px
 }

.big-body {
	padding: 20px 20px 50px 20px;
	margin: 0 auto 20% auto;
 	height: 400px;
 	width: 600px;
 	background-color: white;
 }

.big-body	img {
 	float: center;
 }

 .big-body:hover {
 	background-color: #E0FFC2;
 	opacity: .7;
 }

.menu ul {
 	list-style-type: none;
 	list-style-position: center;
 }

.menu li {
 	display: inline;
 	padding-left: 154px;
 }

 .menu li:hover {
 	opacity: .7;
 	color: #7ACC29;
 }

/*  THIS IS ALL GONE SO WHATEVER

 .footer {
 	float: bottom;
 	height: 150px;
 	background-color: white;
 	color: #7ACC29;
 	margin: 0 0 0 0;
 }

 .footer ul {
 	list-style-type: none;
 }

 */

